<button mdbBtn color="primary">Primary</button>
<div id="gjs" style="height: 100vh;">
  <div class="container">
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" data-onclick="say-hello">Say Hello</button>
      </div>
      <div class="col">
        <button class="btn btn-danger" data-onclick="say-goodbye">Say Goodbye</button>
      </div>
      <div class="col">
        <button class="btn btn-success" data-onclick="say-some">Say Something else</button>
      </div>
    </div>
  </div>
</div>
